.musics-main-container {
    position:fixed ;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 50px rgb(221, 221, 221);
    border-radius: 1rem;
    width: 20rem;
    height: 100%;
    opacity: 0;
    background: white;
    transform: translateX(-100%);
    transition: all .5s ease;
    overflow: scroll;

    h2 {
        padding: 2rem;
    }
}

.selected-song {
    background : rgb(238, 245, 244);;
}

.library-opened {
    transform: translateX(0%);
    opacity: 1;
    z-index: 2;
}


.music {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-out;

    &:hover {
        background: rgb(235, 235, 235);
        box-shadow: 0.3rem grey;
        transform: scale(1.04);
    }

    img {
        width: 30%
    }
}
.music-description {
    padding-left: 1rem;
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.7rem;
    }
  }
  

::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(182, 177, 177); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(196, 191, 191); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #969393; 
  }

@media screen and (max-width: 768px) {
  .library-opened {
    width: 100%;
    z-index: 3;
  }
}