nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    transition: all .75s ease;
    position: relative;

    h1:hover {
      cursor: pointer;
    }

    button {
        padding: .5rem;
        background: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid rgb(65, 65, 65);
        transition: all 0.3s ease;
            
        &:hover {
            background: rgb(65, 65, 65) ; 
            color: white;        
        }
    }
}

.library-showed-up {
  background: rgb(65, 65, 65);
  color: white;
}

.library-showed-hide-logo {
  @media screen and (max-width: 768px) {
    h1 {
      opacity: 0;
    }
    z-index: 10;
  }
}



