.nav {
    height: 5vh;
    width: 45vw;
    position: fixed;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.header {
    margin-top: 0.75rem;
    display: flex;
    min-width: 50%;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.library-btn {
    padding: 0.2rem 0.3rem;
    display: flex;
    border: 0.2rem solid black;
    background: rgb(238, 245, 244);
    cursor: pointer;

    h2 {
        font-size: 1.5rem;
    }

    &:hover {
        transition: .5s;
        transform: scale(.9);
        border: 0.2rem solid rgb(50, 59, 61);
        border-radius: 3%;
        background: rgb(64, 67, 68);          
    }
}


.change-color {
    color : white;
    background : black;
}

.logo {
    cursor: pointer;
    h1 {
        font-family: 'Redressed', cursive, 'sans-serif';
    }
    
}
