.Player {
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;
    height: 80vh;
    min-width: 50vw;
    width: 70vw;
    margin : auto;
    padding-top: 5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.picture {
    transition: 0.5s;
}

.move-player {
    transform: translate(3rem);
    transition: .6s;
}

.music-picture {
    border-radius: 50%;
    min-width: 5vw;
    min-height: 30vh;
    height: 50vh;
    border : 0px;
    margin: 1rem;
}

.music-bar-controler {
    min-width: 30vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: justify;
    transition: 0.5s;

    input {
        min-width : 80%;
        width: 25vw;
        padding: 1rem 0;
    }
    input[type=range]::-moz-range-thumb {
        background-color: green;
      }
    p {
        padding: 1rem 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: #524f4f;
    }
}

.music-controler-btn {
    min-width : 15vw;
    width : 20vw;
    display: flex;
    justify-content : space-between;
    align-items : center;
    margin: 2rem;
    transition: 0.5s;

    .back-btn {
        cursor: pointer;
    }

    .play-btn {
        cursor: pointer;
    }

    .forward-btn {
        cursor: pointer;
    }

}