.Player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all .75s ease;

    img{
        border-radius: 50%;
        min-width: 300px;
        width: 25%;
        margin: 1rem;
    }
} 

.move-player {
    transform: translateX(4rem);
    transition: .6s;
}

.rotate-picture {
    animation: rotating 20s linear infinite;
    transition: all 2s  ease;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.music-bar-controler {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width : 50%;
        padding: 1rem 0;
    }

    p {
        padding: 1rem;
    }
}

.music-controler-btn {
    width : 20%;
    display: flex;
    justify-content : space-between;
    align-items : center;
    padding: 1rem;

    svg {
        cursor: pointer;
    }

}

@media screen and (max-width: 768px) {
    .music-bar-controler {
        width : 100%;
    }
    .music-controler-btn {
        width : 45%;
    }

}

@media screen and (max-width: 400px) {
    .music-bar-controler {
        width : 100%;
    }
    .music-controler-btn {
        width : 70%;
    }
    .Player {
        img{
            min-width: 250px;
        }
    }
}
